/nvim

/google-chrome
clash/Country.mmdb
clash/.cache
clash/config.yaml.bak*
/pulse

onedrive/refresh_token
dconf/user

/Code
/TabNine
/akonadi
/autostart

/baidunetdisk

/coc
/ibus
/qqmusic
*.hash


/discord
/microsoft-edge-beta
/vivaldi
/Electron
/cmus
/electron-netease-cloud-music
/netease-music-tui
/electron-qq
/microsoft-edge-dev
/yesplaymusic
/pipewire
/libreoffice
/gtk-3.0
/WebCatalog
/Translatium
/EasyConnect
/lazygit
/BetterDiscord
/uTools
/icalingua
/obs-studio
/xfce4
/kdeconnect
/微信
/QtProject
/Vieb
/chromium
/Kingsoft
/ulauncher
/R
/Thunar
/"Unknown Organization"
/deepin
/fcitx
/fcitx5
/flameshot
/go
/green-recorder
/htop
/libaccounts-glib
/menus
/mpv
/rstudio
/rtv
/visum
/yay
/transmission-remote-gtk




RStudio/desktop.ini

pipewire/media-session.d/default-routes
pipewire/media-session.d/default-routes

pipewire/media-session.d/restore-stream

gtk-3.0/bookmarks
QtProject.conf
cef_user_data/Dictionaries/en-US-8-0.bdic
onedrive/nohup.out

nohup.out

pavucontrol.ini
.s
clash/config.b
clash/config.b3
nvim1
kingsoft/PDF.conf
lutris/runners/linux.yml
lutris/lutris.conf
microsoft-edge/NativeMessagingHosts/firenvim.json
ungoogled-chromium/NativeMessagingHosts/firenvim.json
BraveSoftware/Brave-Browser/NativeMessagingHosts/firenvim.json
vimgolf/api_key
calibre
netease-cloud-music
ranger/__pycache__
ranger/colorschemes/__pycache__
ranger/plugins
ranger/plugins
microsoft-edge

clash/cache.db
clash/clash.pid
gh
cef_user_data/Dictionaries
arkrc
screenkey.json
ranger/plugins/ranger-zjumper

tinymediamanager
clouddrive
MyCardLibrary
chinesesubfinder
magnetw
mycard
xylosper/bomi
Unknown Organization
kde.org
nomacs
session
baloofileinformationrc
dolphinrc
kconf_updaterc
kdeglobals
kolourpaintrc
fontforge
gpick

ranger/plugins/__pycache__

onedrive/items.sqlite3
onedrive/items.sqlite3-shm
onedrive/items.sqlite3-wal
gconf/desktop
enchant
modem-manager-gui
modem-manager-gui
fvim
octopi
ookla
totem
chadwm1
Debauchee

Moonlight Game Streaming Project
kingsoft
rustdesk

klanguageoverridesrc
mimeapps.list

zoomus.conf
remmina

clash/config.yaml
sunshine
via-nativia/Crashpad
systemd/user/default.target.wants
clash-verge
github-copilot
QQ
Trello
bilibili
via-nativia
memestra
Code - OSS
Synergy
shyysh
git
geany
